@import 'tailwindcss';

@theme {
  --font-sans: var(--font-sans);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);

  --color-background: var(--color-background);
  --color-surface: var(--color-surface);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);

  --color-border: var(--color-border);

  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);

  --shadow-card: var(--shadow-card);
}

:root {
  --font-sans: 'Inter', system-ui, sans-serif;

  --primary: #61227d;
  --primary-hover: #5a4bd1;
  --primary-light: #f8eaff;

  --background: #f5f6fa;
  --surface: #ffffff;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --border: #e5e7eb;
}
