@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import 'tailwindcss';

@theme {
  --font-noto: var(--font-noto);
  --font-lora: var(--font-lora);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);

  --color-background: var(--background);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-border: var(--border);
}

:root {
  --font-noto: 'Noto Sans', system-ui, sans-serif;
  --font-lora: 'Lora', system-ui, sans-serif;

  --primary: #61227d;
  --primary-hover: #531d69;
  --primary-light: #f8eaff;

  --background: #fff;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --border: #e5e7eb;
}

@layer base {
  body {
    background: var(--background);
    font-family: var(--font-noto);
  }
}
